language: python
python:
  - "2.7"
env:
  - DJANGO_VERSION=1.4.8
  - DJANGO_VERSION=1.5.4
  - DJANGO_VERSION=1.5.4 AUTH_USER_MODEL=account.CustomUser
install:
  - pip install Django==$DJANGO_VERSION
  - make develop
  - pip install coveralls
script:
  - make coverage
after_success:
    coveralls
